
.vs/Virgo.Backend/DesignTimeBuild/

.vs/Virgo.Backend/v16/

Virgo.Backend.Common.Tests/bin/*

Virgo.Backend.Common.Tests/obj/*

Virgo.Backend.Common/bin/*

Virgo.Backend.Common/obj/*

Virgo.Backend.Controller.Tests/bin/*

Virgo.Backend.Controller.Tests/obj/*

Virgo.Backend.Services/obj/*

Virgo.Backend.Services/bin/*

Virgo.Backend.Services.Tests/obj/*

Virgo.Backend.Services.Tests/bin/*

Virgo.Backend.Controller/bin/*

Virgo.Backend.Controller/obj/*

Virgo.Backend.Repository/bin/*

Virgo.Backend.Repository/obj/*
.vs/Virgo.Backend/config/

Virgo.API.Common.Tests/obj/

Virgo.API.Common/obj/

Virgo.API.Controller.Tests/obj/

Virgo.API.Controller/obj/

Virgo.API.Repository/obj/

Virgo.API.Services.Tests/obj/

Virgo.API.Services/obj/
